<xf:title>{{ phrase('nf_trashcan_inline_moderation_trash_threads') }}</xf:title>

<xf:form action="{{ link('inline-mod') }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:inforow rowtype="confirm">{{ phrase('nf_trashcan_sure_you_want_trash_x_threads', {'count': $total}) }}
            </xf:inforow>

            <xf:textboxrow name="reason" maxlength="{{ max_length('XF:DeletionLog', 'delete_reason') }}"
                           label="{{ phrase('nf_trashcan_reason_for_trashing') }}"/>

            <xf:macro template="helper_action" name="thread_alert"/>
        </div>
        <xf:submitrow icon="delete" submit="{{ phrase('nf_trashcan_trash') }}"/>
    </div>

    <xf:foreach loop="$threads" value="$thread">
        <xf:hiddenval name="ids[]">{$thread.thread_id}</xf:hiddenval>
    </xf:foreach>

    <xf:hiddenval name="type">thread</xf:hiddenval>
    <xf:hiddenval name="action">nf_trash</xf:hiddenval>
    <xf:hiddenval name="confirmed">1</xf:hiddenval>

    <xf:redirect url="{$redirect}"/>
</xf:form>